p {
    color: white;
    text-align: center;
    background-color: transparent !important;
    font-family: 'Nova Square', cursive;
    font-size: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #f000ff,
    0px 0px 20px #f000ff, 
    0px 0px 30px #f000ff, 
    0px 0px 40px #f000ff, 
    0px 0px 50px #f000ff, 
    0px 0px 100px #f000ff, 
    0px 0px 200px #f000ff, 
    0px 0px 500px #f000ff;
};

.reseaux {
    border-top: 5px solid #f000ff;
};

ul {
    display: flex;
    list-style: none;
    padding-top: 15px;
    margin-bottom: 0rem;
    justify-content: center;
};

li {
    background: transparent;
};

img {
    width: 50px;
    background: transparent;
};

img:hover {
    box-shadow: 0px 7px 100px white;
};
