.panneaux {
    margin-top: 50px;
    margin-bottom: 100px;
    background: transparent;
};
.carousel {
    border: 5px solid #09c6ee;
    box-shadow: 0px 7px 100px #09c6ee;

    width: 75%;
}
.carousel-item {
    background: transparent;
};

.nav-item {
    background: transparent;
};

ol {
    background: transparent;
};

.title {
    margin-top: 50px;
    color: white;
    text-align: center;
    font-family: 'Nova Square', cursive;
    background: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0rem;
    line-height: 1;
    text-shadow: 0px 0px 10px #f000ff,
    0px 0px 20px #f000ff, 
    0px 0px 30px #f000ff, 
    0px 0px 40px #f000ff, 
    0px 0px 50px #f000ff, 
    0px 0px 100px #f000ff, 
    0px 0px 200px #f000ff, 
    0px 0px 500px #f000ff;
};

p {
    background: transparent;
};

.title:hover {
    color: #f000ff !important;
};

img {
    width: 100%;
}
