// Propriétés concernant la navbar
nav {
    background-color: white !important;
    border: 3px solid black;
};

// Propriétés concernant les boutons de la navbar
.nav-link {
    color: black !important;
    margin-right: 50px;
    margin-left: 50px;
};

// Propriétés concernant le survol des boutons de la navbar
.nav-link:hover {
    color: red !important;
};

// Propriétés concernant les boutons dropdown de la navbar
.dropdown-item {
    color: black !important;
};

// Propriétés concernant le survol des boutons dropdown de la navbar
.dropdown-item:hover {
    color: red !important;
};

// Propriétés concernant tous les boutons de la navbar
.navbar-collapse {
    margin: 20px !important; 
};

// Propriété concernant le logo
.logo {
    max-height: 100px;
    margin-left: 20px;
}