<div id="crew" class="title">
  <p id="planning">Contact: L'équipe</p>
</div>
<div class="planning">
  <div class="container">
    <div class="row">
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <img src="../../assets/TESTTTTT.jpg">
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <img src="../../assets/TESTTTTT.jpg">
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <img src="../../assets/TESTTTTT.jpg">
      </div>
    </div>
  </div>
</div>