<div id="crew" class="title">
  <p id="planning">Contact: L'équipe</p>
</div>
<div class="planning">
  <div class="container">
    <div class="row">
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <a href="https://twitter.com/sokapsd"><img src="../../assets/soka.jpg"></a>
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <a href="https://twitter.com/nikaestu"><img src="../../assets/nika.jpg"></a>
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-4">
        <a href="https://twitter.com/zSkyBuu"><img src="../../assets/loubard.jpg"></a>
      </div>
    </div>
  </div>
</div>