<hr>
<div id="crew" class="title">
  <p id="planning">Contact: L'équipe</p>
</div>
<div class="planning">
  <div class="container">
    
    <div class="row">
      <div class="image col-sm-12 col-md-6 col-lg-3">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/15/46/churros-2188869_1280.jpg">
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-3">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/15/46/churros-2188869_1280.jpg">
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-3">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/15/46/churros-2188869_1280.jpg">
      </div>
      <div class="image col-sm-12 col-md-6 col-lg-3">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/15/46/churros-2188869_1280.jpg">
      </div>
    </div>
  </div>
</div>